[Unit]
Description=gratia2 collector
Documentation=https://github.com/retzkek/gratia2-collector
Wants=network-online.target
After=network-online.target

[Service]
User=gratia
Group=gratia
Type=simple
Restart=on-failure
WorkingDirectory=/opt/gratia2
ExecStart=/opt/gratia2/gratia2-collector -c /opt/gratia2/gratia.cfg -l /opt/gratia2/log/gratia.log
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
